/* CANVAS */
#screenshot {
  position:absolute;
  z-index:1;

}
#draw {
  position:absolute;
  z-index:2;
  pointer-events:none;
}
#draw #boxes {
  stroke-width:2;
  fill-opacity:0;
  stroke-opacity:0.9;
}
#draw #marquee {
  fill:white;
  stroke:red;
  stroke-width:1;
  stroke-dasharray:5,5;
  stroke-opacity:0.9;
  fill-opacity:0.2;
}
#draw #marquee.hide {
  display:none;
}

/* MY ELEMENTS */

#hidden0 {
  display:  none;
}
#hidden1 {
  display:  none;
}
.normalBox {
  transition-duration: 500ms;
  stroke-width:2;
}

.removeBox {
  transition-duration: 500ms;
  stroke-width:0;
}

.hideDiv {
  transition-duration: 500ms;
  display:  none;
}

.d-none {
  transition-duration: 3s;
  display:  none;
}

.thumbnail {
  max-height:  200px;
}

.d-none {
  display:  none;
}

.v-hidden {
  visibility: hidden;
}

.padding20px {
  padding: 20px !important;
}

.margin-top-bottom-20px {
  margin-top:  20px !important;
  margin-bottom: 20px !important;
}

/* TABLE */
#page_container {
    margin-top: 15px;
    margin-bottom: 15px;
}
#accordion_search_bar_container {
    position: relative;
}
#accordion_search_bar_container:after {
    content: "\e003";
    font-family: Glyphicons Halflings;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
#accordion_search_bar_container #accordion_search_bar {
    display: block;
    margin: 10px auto;
    width: 100%;
    padding: 7px 10px;
    border: 1px solid #cacaca;
    border-radius: 25px;
    outline: 0;
}
.panel-title a {
    display: block;
}


