canvas{
  position: absolute;
}
#canvasWrapper{
  position:relative;
}

#hidden0 {
  display:  none;
}
#hidden1 {
  display:  none;
}
.normalBox {
  transition-duration: 500ms;
  stroke-width:2;
}

.removeBox {
  transition-duration: 500ms;
  stroke-width:0;
}

.hideDiv {
  transition-duration: 500ms;
  display:  none;
}

.d-none {
  transition-duration: 3s;
  display:  none;
}

.thumbnail {
  max-height:  200px;
}

.d-none {
  display:  none;
}

.v-hidden {
  visibility: hidden;
}

