<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'fdd_app/css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <! -- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">

  <! -- stickynotes -->
  <link rel="stylesheet" type="text/css" href="{% static 'fdd_app/stickynotes/stickynotes.css' %}">

  <! -- Bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"> </script>
  <! -- jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body class="font">
  <! -- NAVBAR -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img class="logo" src="../../../media/logo/xploreai.png" alt="XploreAI">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link light" aria-current="page" href="/fdd_app/persona">&#129489 User Research</a>
           <a class="nav-link active light margin-right" aria-current="page" href="/fdd_app/">&#128171 Failure Exploration</a>
            <a class="nav-link light" aria-current="page" href="/fdd_app/failure_book">&#128218 AI Failure Book</a>
        </div>
      </div>

    </div>
  </nav>
  <! -- END NAVBAR -->

  <div class="container">
    <h1 class="border-bottom margin-top-large">&#129489  User Scenario: Step 2️⃣</h1>
    <div class="row margin-top-large">
      <div class="alert light-purple-background border-radius" role="alert">
          &#128073 xxx.
        </div>
      <div class="col-6">
        <p>Example scenatrio</p>
        <p>{{persona.name}}</p>
      </div>

      <! -- scenario -->
      <div class="col-6">
        <h2 class="purple-color">Scenario </h2>
        <h3 class="font-size-15">xxx </h3>
        <form method="post" enctype="multipart/form-data" class="form-control form-label border-radius">
          {% csrf_token %}
          <label>Imagine your persona in a specific scenario - <br> What is a name for your scenario?</label>
          {{ scenario_form.context_name }} <br>
          <label> Can you describe the scenario in more detail? <br> What is the background and environment like?</label> <br>
          {{ scenario_form.environment }} <br>
          <button type="submit" class="btn primary">Save</button>
        </form>
      </div>
    </div>

</body>
</html>

<script src="{% static 'fdd_app/stickynotes/stickynotes.js' %}"></script>
