<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'fdd_app/css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <! -- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">

  <! -- fontawesome -->
  <script src="https://kit.fontawesome.com/d35950c7f9.js" crossorigin="anonymous"></script>

  <! -- Bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"> </script>
  <! -- jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body class="font">
  {% block sidebar1 %}{% include 'fdd_app/sidebar1.html' %}{% endblock sidebar1 %}

  {% block navbar %}{% include 'fdd_app/navbar.html' %}{% endblock navbar %}

  <div class="container">
    <! -- ROW -->
    <div class="row greybackground height100vh">
      <! -- LEFT -->
      <div class="col-4">
        <div class="mycard margin-top-small margin-bottom-small position-relative d-flex">
            <img class="thumb margin-right-small" src="/media/personas/default_persona.jpeg" alt="/media/personas/default_persona.jpeg">
            <div>
              <h5 id="name"></h5>
              <p id="description"></p>
            </div>
            <a class="stretched-link" href="/fdd_app/persona={{p.id}}/create_scenarios"></a>
          </div>

        {% for p in personas %}
          <div class="mycard margin-bottom-small position-relative d-flex">
            <img class="thumb margin-right-small" src="{{p.image.url}}" alt="/media/personas/default_persona.jpeg">
            <div>
              <h5>{{p.name}}</h5>
              <p>{{p.description}}</p>
            </div>
            <a class="stretched-link" href="/fdd_app/persona={{p.id}}/create_scenarios"></a>
          </div>

        {% endfor %}
      </div>

      <! -- RIGHT -->
      <div class="col-8">

        <! -- User -->
        <div class="whitebackground margin-top-small padding20px">
          <div class="d-flex justify-content-between">
            <h2 class="purple-color">User</h2>
          </div>

          <div class="d-flex">
            <form method = "post" enctype="multipart/form-data" class="form-control form-label border-radius">
              {% csrf_token %}
              <p><strong>Image</strong></p>
              {{persona_form.image}}
              <p class="margin-top-small"><strong>Name</strong></p>
              {{persona_form.name}}
              <p class="margin-top-small"><strong>Description</strong></p>
              {{persona_form.description}}
              <a class="btn secondary" href="/fdd_app/persona={{persona.id}}/create_scenarios">Cancel</a>
              <button type="submit" class="btn primary"><i class="fa-solid fa-plus"></i> Add user</button>
            </form>
          </div>
        </div>

          <! -- User -->
        </div> <! -- END RIGHT -->
    </div> <! -- END ROW -->
  </div> <! -- END CONTAINER -->

</body>
</html>

<script src="{% static 'fdd_app/js/form_style.js' %}"></script>


