<head>
    {% load mathfilters %}
    {% load index %}
    {% load slice %}
    {% load to_int %}
</head>

<div id="failures" class="row justify-content-start">

    {% if model_predictions|length == 0 and expectations|length > 0 %}
      <div class="border margin-top-small padding-small">
        <p class="tag error text-align-center">FTO</p>
        <p class="text-align-center">The model did not make any prediction for this image. </p>
        <br>
      </div>
    {% endif %}

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">User Expectation</th>
          <th scope="col">Model Prediction</th>
          <th scope="col">Failure Mode</th>
          <th scope="col">Failure Type</th>
          <th scope="col">Warnings</th>
          <th scope="col">Severity (1 low - 7 high)</th>
        </tr>
      </thead>
      <tbody>
        {% for match in matches%}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>
            <div class="d-flex align-items-center">
              {% if match.exp_idx != -1 %}
                <i class="fa-solid fa-square" style="color:{{ colors|index:match.exp_idx }}"></i>
              {% endif %}
              <div>
                <p class="margin-top-zero margin-left-small">{{match.expectation.label}}</p>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              {% if match.pred_idx != -1 %}
                <i class="fa-solid fa-square" style="color:{{ colors|index:match.pred_idx }}"></i>
              {% endif %}
              <p class="margin-top-zero margin-left-small">{{match.model_prediction.label|title}}</p>
            </div>
          </td>
          <td>
            {% if match.missing_detection %}
              <p class="tag error text-align-center">MD</p>
            {% elif match.unnecessary_detection %}
              <p class="tag error text-align-center">UD</p>
            {% elif match.true_positive %}
              <p class="tag ok text-align-center">CD</p>
            {% elif match.false_detection %}
              <p class="tag error text-align-center">FD</p>
            {% endif %}
          </td>
          <td>
            {% if match.indistribution %}
              <p class="tag info text-align-center">ID</p>
            {% elif match.outofdistribution %}
              <p class="tag info text-align-center">OOD</p>
            {% endif %}
          </td>
          <td>
            {% if match.critical_quality_score %}
                <p class="tag warning text-align-center">CQS</p>
            {% elif match.critical_quality_box %}
                <p class="tag warning text-align-center">CQB</p>
            {% endif %}
          </td>
          <td>
            {% if match.missing_detection or match.unnecessary_detection  or match.false_detection %}
              <form id="{{match.id}}" class="failure_severity_form" action="" method="POST">
              {% csrf_token %}
              <input type="range" class="slider" name="failure_severity" id="failure_severity_id{{forloop.counter}}" value="1" min="1" max="7" oninput="failure_severity_output{{forloop.counter}}.value = failure_severity_id{{forloop.counter}}.value">
              <output name="failure_severity_output{{forloop.counter}}" id="failure_severity_output_id{{forloop.counter}}">1</output>
              <input value = "{{match.id}}" type="hidden" name="match_id">
            {% endif %}
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>



    {% if sample.has_failure %}
      <div class="row">
        <button type="submit" name="done_or_continue" value="C" class="btn primary margin-top-small margin-right margin-bottom-large" style="width: 30%">
          Save
        </button>
      </div>
      </form>

    {% endif %}
<! --  END MATCH -->
  </div> <! -- END FAILURE ANALYSIS-->
