<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Failure Book</title>
    {% load static %}
    {% load mathfilters %}
    {% load index %}
    <link rel="stylesheet" type="text/css" href="{% static 'fdd_app/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <! -- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">
</head>

<body class="font">
  <! -- NAVBAR -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img class="logo" src="../../../media/logo/xploreai.png" alt="XploreAI">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link light" aria-current="page" href="/fdd_app/persona">&#129489 User Research</a>
           <a class="nav-link active light margin-right" aria-current="page" href="/fdd_app/">&#128171 Failure Exploration</a>
            <a class="nav-link light" aria-current="page" href="/fdd_app/failure_book">&#128218 AI Failure Book</a>
        </div>
      </div>

       <div class="margin-right">
        <h4 class="white">&#129489 Use Case</h4>
        <div class="dropdown whitebackground border-radius">
          <select class="form-select border-radius" aria-label="Default select example">
            {% for persona in personas reversed %}
              <option class="border-radius" value="persona{{forloop.counter}}">{{persona.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="margin-right">
        <h4 class="white">&#128065 AI Model</h4>
        <div class="dropdown whitebackground border-radius">
        <select class="form-select border-radius" aria-label="Default select example">
        {% for ai in ais %}
          <option class="border-radius" value="persona{{forloop.counter}}">{{ai.name}}</option>
        {% endfor %}
        </select
        </div>
      </div>

    </div>
  </nav>
  <! -- END NAVBAR -->

  <div class="container">
    <h1 class="border-bottom margin-top-large">&#128218 AI Failure Book</h1>
   <! -- ROW-->
    <div class="row justify-content-start">
      <! -- FAILURE RECOVERY  -->
      <div class="col-12">
        <h2 class="purple-color margin-top-large">Failure Recovery</h2>
        <h3 class="font-size-15">Let's see in what ways we can recover from failures.</h3>
        <p>Select out of pre-defined options. </p>
      </div>
      <! -- END FAILURE RECOVERY -->
    </div>
    <! -- END ROW-->

    <h2 class="purple-color margin-top-large">Failures and Recovery Options</h2>
    <h3 class="font-size-15">All of your failure at a glance.</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sample</th>
          <th scope="col">Failure Modes & Failure Recovery</th>
          <th scope="col">Failure Effects & Severity</th>
          <th scope="col">Notes</th>
        </tr>
      </thead>
      <tbody>
        {% for d in data %}
        <tr>
          <td>
            <img src="{{d.sample.image.url}}" class="img border-radius max-width">
          </td>
          <td>
            <p>Number of errors: {{d.num_of_errors}}</p>
            <p>Number of warnings: {{d.num_of_warn}}</p>
          {% for match in d.matches %}
            <div class="border-bottom">
              <h5>{{forloop.counter}}/{{d.matches|length}}</h5>
              {% if match.failing_to_detect %}
              <p class="tag error text-align-center">&#10060 Failing to detect</p>
              {% endif %}
              {% if match.missing_detection %}
                <p class="tag error text-align-center">&#10060 Missing detection</p>
                {% if match.indistitribution %}
                  <p class="tag info text-align-center">ℹ️ In-distribution</p>
                {% else %}
                  <p class="tag info text-align-center">ℹ️ Out-of-distribution</p>
                {% endif %}
              {% endif %}
              {% if match.unnecessary_detection %}
                <p class="tag error text-align-center">&#10060 Unnecessary detection</p>
              {% endif %}
              {% if match.false_detection %}
                <p class="tag error text-align-center">&#10060 False detection</p>
                {% if match.indistitribution %}
                  <p class="tag info text-align-center">ℹ️ In-distribution</p>
                {% else %}
                  <p class="tag info text-align-center">ℹ️ Out-of-distribution</p>
                {% endif %}
              {% endif %}

              {% if match.critical_quality_box %}
                <p class="tag warning text-align-center">⚠️ Critical quality box</p>
              {% endif %}
              {% if match.critical_quality_score %}
                <p class="tag warning text-align-center">⚠️ Critical quality score</p>
              {% endif %}

            </div>

          {% endfor %}
          </td>

          <td>
            <p>{{d.total_severity}}</p>
          </td>
          <td>
            <p>Your notes</p>
          </td>


        {% endfor %}
        </tr>

      </tbody>
    </table>
  </div>
</div> <! -- Container -->

<! -- Bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
  </script>

</body>
</html>

<! -- internal scripts -->
<script src="{% static 'fdd_app/js/bbox.js' %}"></script>
<script src="{% static 'fdd_app/js/table.js' %}"></script>
<script src="{% static 'fdd_app/js/slider.js' %}"></script>
<script src="{% static 'fdd_app/js/explanation.js' %}"></script>
<script src="{% static 'fdd_app/js/hide.js' %}"></script>
