<head>
    {% load mathfilters %}
    {% load index %}
    {% load slice %}
    {% load to_int %}
</head>

<div id="failures" class="row justify-content-start">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">User Expectation</th>
          <th scope="col">Model Prediction</th>
          <th scope="col">Failure Mode</th>
          <th scope="col">Failure Type</th>
          <th scope="col">Warnings</th>
          <th scope="col">Severity (1 low - 7 high)</th>
        </tr>
      </thead>
      <tbody>
        {% for match in matches%}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>
            <div class="d-flex align-items-center">
              {% if match.exp_idx != -1 %}
                <i class="fa-solid fa-square" style="color:{{ colors|index:match.exp_idx }}"></i>
              {% endif %}
              <div>
                <p class="margin-top-zero margin-left-small">{{match.expectation.label}}</p>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              {% if match.pred_idx != -1 %}
                <i class="fa-solid fa-square" style="color:{{ colors|index:match.pred_idx }}"></i>
              {% endif %}
              <p class="margin-top-zero margin-left-small">{{match.model_prediction.label|title}}</p>
            </div>
          </td>
          <td>
            {% if match.missing_detection %}
              <div class="error-exp">
                <p class="tag error text-align-center">MD</p>
                <span class="error-exp-details"><strong>Missing Detection:</strong><br> The model did not provide a prediction for "{{match.expectation.label}}".</span>
              </div>
            {% elif match.unnecessary_detection %}
              <div class="error-exp">
                <p class="tag error text-align-center">UD</p>
                <span class="error-exp-details"><strong>Unnecessary Detection: </strong><br> The model made a prediction for "{{match.model_prediction.label|title}}" that seems less important to the user.</span>
              </div>
            {% elif match.true_positive %}

            <div class="ok-exp">
                <p class="tag ok text-align-center">CD</p>
                <span class="ok-exp-details"><strong>Correct Detection: </strong><br> The model correctly predicted this object.</span>
              </div>
            {% elif match.false_detection %}
              <div class="error-exp">
                <p class="tag error text-align-center">FD</p>
                <span class="error-exp-details"><strong>False Detection: </strong><br> The model predicted "{{match.model_prediction.label|title}}" instead of "{{match.expectation.label}}".</span>
              </div>
            {% endif %}
          </td>
          <td>
            {% if match.indistribution %}
            <div class="info-exp">
              <p class="tag info text-align-center">ID</p>
              <span class="info-exp-details"><strong>In-distribution: </strong><br> "{{match.expectation.label}}" lies within the capabilities of the model.</span>
            </div>

            {% elif match.outofdistribution %}
              <div class="info-exp">
              <p class="tag info text-align-center">OOD</p>
              <span class="info-exp-details"><strong>Out-of-distribution: </strong><br> "{{match.expectation.label}}" does not lie within the capabilities of the model.</span>
            </div>
            {% endif %}
          </td>
          <td>
            {% if match.critical_quality_score %}
              <div class="warning-exp">
                <p class="tag warning text-align-center">CQS</p>
                <span class="warning-exp-details"><strong>Critical quality of score: </strong><br> The certainty for prediction "{{match.model_prediction.label|title}}" is below 95%.</span>
              </div>
            {% elif match.critical_quality_box %}
              <div class="warning-exp">
                <p class="tag warning text-align-center">CQB</p>
                <span class="warning-exp-details"><strong>Critical quality of boxes:</strong> <br>The boxes of "{{match.expectation.label}}" and "{{match.model_prediction.label|title}}" don't quite overlap.</span>
              </div>
            {% endif %}
          </td>
          <td>
            {% if match.missing_detection or match.unnecessary_detection  or match.false_detection %}
              <form id="{{match.id}}" class="failure_severity_form" action="" method="POST">
              {% csrf_token %}
              <input type="range" class="slider" name="failure_severity" id="failure_severity_id{{forloop.counter}}" value="1" min="1" max="7" oninput="failure_severity_output{{forloop.counter}}.value = failure_severity_id{{forloop.counter}}.value">
              <output name="failure_severity_output{{forloop.counter}}" id="failure_severity_output_id{{forloop.counter}}">1</output>
              <input value = "{{match.id}}" type="hidden" name="match_id">
            {% endif %}
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>




<! --  END MATCH -->
  </div> <! -- END FAILURE ANALYSIS-->
