<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Failure Book</title>
    {% load static %}
    {% load mathfilters %}
    {% load index %}
    <link rel="stylesheet" type="text/css" href="{% static 'fdd_app/css/style.css' %}">

    <! -- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">

    <! -- external scripts -->
    <script src="https://kit.fontawesome.com/d35950c7f9.js" crossorigin="anonymous"></script>
    <! -- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <! -- jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</head>

<body class="font greybackground">
  {% block sidebar3 %}{% include 'fdd_app/sidebar3.html' %}{% endblock sidebar3 %}

  {% block navbar %}{% include 'fdd_app/navbar.html' %}{% endblock navbar %}


  <div class="container">
    <ul class="nav nav-tabs margin-top-large">
      <li class="nav-item">
          <a href="#design_corner" class="nav-link active colorblack" data-bs-toggle="tab"><h2>Failure Analysis</h2></a>
      </li>
      <li class="nav-item">
          <a href="#engineering_corner" class="nav-link colorblack" data-bs-toggle="tab"><h2>Labelled Data</h2></a>
      </li>
    </ul>
    <div class="tab-content">
      <! -- ENGINEERING CORNER  -->
      <div class="tab-pane fade" id="design_corner">
        <p>Canvas</p>
      </div>
    </div>

    <div class="tab-content">
      <! -- ENGINEERING CORNER  -->
      <div class="tab-pane fade" id="engineering_corner">
        <ul class="nav nav-tabs" id="myTab2">
          <li class="nav-item">
              <a href="#finetuning" class="nav-link active colorblack" data-bs-toggle="tab">Finetuning</a>
          </li>
          <li class="nav-item">
              <a href="#retraining" class="nav-link colorblack" data-bs-toggle="tab">Retraining</a>
          </li>
        </ul>

        <div class="tab-content">

          <! -- FINETUNING  -->
          <div class="tab-pane fade show active" id="finetuning">
            <button class="btn secondary margin-top-small">Export data & labels as csv</button>

            {% for item in finetuning %}
            <div class="row margin-top-small">
              <! -- Model prediction -->
              <div class="col-4">
                <p><strong>Model Prediction</strong></p>
                <div class="position-relative">
                  <svg class="position-absolute" width="{{item.sample.image.width}}" height="{{item.sample.image.height}}" xmlns="http://www.w3.org/2000/svg">

                  {% for model_prediction in item.model_predictions %}
                    <rect id="" class="box normalBox" x={{model_prediction.xmin}} y={{model_prediction.ymin}} width={{model_prediction.xmax|sub:model_prediction.xmin}} height={{model_prediction.ymax|sub:model_prediction.ymin}} style="stroke:{{colors|index:forloop.counter0 }};fill-opacity:0">
                    </rect>
                  {% endfor %}
                  </svg>
                  <img src="{{item.sample.image.url}}" class="border-radius">
                </div>
                  {% for model_prediction in item.model_predictions %}
                    <i class="fa-solid fa-square" style="color: {{ colors|index:forloop.counter0 }}"></i>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex justify-content-between">
                        <p> {{ model_prediction.label|title}} </p>
                      </div>
                    </div>
                  {% endfor %}
              </div>

              <! -- User-centric ground truth -->
              <div class="col-4">
                <p><strong>User-centric ground truth</strong></p>
                {% if item.expectations|length == 0 %}
                      <h1>😔</h1>
                      <p> Not labelled yet</p>
                {% else %}
                  <div class="position-relative">
                    <svg class="position-absolute" width="{{item.sample.image.width}}" height="{{item.sample.image.height}}" xmlns="http://www.w3.org/2000/svg">

                        {% for expectation in item.expectations %}
                          <rect id="" class="box normalBox" x={{expectation.xmin}} y={{expectation.ymin}} width={{expectation.xmax|sub:expectation.xmin}} height={{expectation.ymax|sub:expectation.ymin}} style="stroke:{{colors|index:forloop.counter0 }};fill-opacity:0">
                          </rect>
                        {% endfor %}
                        </svg>
                        <img src="{{item.sample.image.url}}" class="border-radius">
                      </div>
                        {% for expectation in item.expectations %}
                          <i class="fa-solid fa-square" style="color: {{colors|index:forloop.counter0 }}"></i>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between">
                              <p> {{ expectation.label|title}} </p>
                            </div>
                          </div>
                        {% endfor %}
                    {% endif %}
              </div>
              <div class="col-4">

              </div>

            </div>
            {% endfor %}

          </div> <! -- END FINETUNING  -->



          <! -- RETRAINING  -->
          <div class="tab-pane fade show" id="retraining">
            <button class="btn secondary margin-top-small">Export data & labels as csv</button>


            {% for item in retraining %}
            <div class="row margin-top-small">
              <! -- Model prediction -->
              <div class="col-4">
                <p><strong>Model Prediction</strong></p>
                <div class="position-relative">
                  <svg class="position-absolute" width="{{item.sample.image.width}}" height="{{item.sample.image.height}}" xmlns="http://www.w3.org/2000/svg">

                  {% for model_prediction in item.model_predictions %}
                    <rect id="" class="box normalBox" x={{model_prediction.xmin}} y={{model_prediction.ymin}} width={{model_prediction.xmax|sub:model_prediction.xmin}} height={{model_prediction.ymax|sub:model_prediction.ymin}} style="stroke:{{colors|index:forloop.counter0 }};fill-opacity:0">
                    </rect>
                  {% endfor %}
                  </svg>
                  <img src="{{item.sample.image.url}}" class="border-radius">
                </div>
                  {% for model_prediction in item.model_predictions %}
                    <i class="fa-solid fa-square" style="color: {{ colors|index:forloop.counter0 }}"></i>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex justify-content-between">
                        <p> {{ model_prediction.label|title}} </p>
                      </div>
                    </div>
                  {% endfor %}
              </div>

              <! -- User-centric ground truth -->
              <div class="col-4">
                <p><strong>User-centric ground truth</strong></p>
                 {% if item.expectations|length == 0 %}
                      <h1>😔</h1>
                      <p> Not labelled yet</p>
                {% else %}
                  <div class="position-relative">
                    <svg class="position-absolute" width="{{item.sample.image.width}}" height="{{item.sample.image.height}}" xmlns="http://www.w3.org/2000/svg">

                    {% for expectation in item.expectations %}
                      <rect id="" class="box normalBox" x={{expectation.xmin}} y={{expectation.ymin}} width={{expectation.xmax|sub:expectation.xmin}} height={{expectation.ymax|sub:expectation.ymin}} style="stroke:{{colors|index:forloop.counter0 }};fill-opacity:0">
                      </rect>
                    {% endfor %}
                    </svg>
                    <img src="{{item.sample.image.url}}" class="border-radius">
                  </div>
                    {% for expectation in item.expectations %}
                      <i class="fa-solid fa-square" style="color: {{colors|index:forloop.counter0 }}"></i>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between">
                          <p> {{ expectation.label|title}} </p>
                        </div>
                      </div>
                    {% endfor %}
                {% endif %}
              </div>
              <div class="col-4">

              </div>

            </div>
            {% endfor %}






          </div> <! -- END RETRAINING  -->
        </div> <! -- END Tab content  -->
    </div> <! -- END ENGINEERING CORNER  -->
  </div> <! -- End tab content  -->

</div> <! -- Container -->

</body>
</html>

<! -- internal scripts -->
<script src="{% static 'fdd_app/js/bbox.js' %}"></script>
<script src="{% static 'fdd_app/js/table.js' %}"></script>
<script src="{% static 'fdd_app/js/slider.js' %}"></script>
<script src="{% static 'fdd_app/js/explanation.js' %}"></script>
<script src="{% static 'fdd_app/js/hide.js' %}"></script>
