<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Failure Analysis</title>
    {% load static %}
    {% load mathfilters %}
    {% load index %}
    {% load times %}
    <link rel="stylesheet" type="text/css" href="{% static 'fdd_app/css/style.css' %}">

    <! -- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">

    <! -- external scripts -->
    <script src="https://kit.fontawesome.com/d35950c7f9.js" crossorigin="anonymous"></script>
    <! -- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <! -- jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <! -- fabric-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js" integrity="sha512-1+czAStluVmzKLZD98uvRGNVbc+r9zLKV4KeAJmvikygfO71u3dtgo2G8+uB1JjCh2GVln0ofOpz9ZTxqJQX/w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.js" integrity="sha512-9SDRKbT29xuJwhBXLN21SuoCAnsqoxjglN180x4p65KXrVAD1/FT3OLmny24IVu0S7lNJ4Pnco7SNkwpWu3uPg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="lib/fabric.js"></script>

</head>

<body class="font greybackground">
  {% block sidebar3 %}{% include 'fdd_app/sidebar3.html' %}{% endblock sidebar3 %}

  {% block navbar %}{% include 'fdd_app/navbar.html' %}{% endblock navbar %}


  <div class="container">
    <div class="row margin-top-large">

    <! -- LEFT -->
      <div class="col-4">
        {% for p in personas %}
          <div class="{% if p.id == persona.id %}myactive mycard hovershaddow{% else %}mycard hovershaddow{%endif%} margin-bottom-small position-relative d-flex">
            <img class="thumb margin-right-small" src="{{p.image.url}}" alt="/media/personas/default_persona.jpeg">
            <div>
              <h5>{{p.name}}</h5>
              <p>{{p.description}}</p>
            </div>
            <a class="stretched-link" href="/fdd_app/persona={{p.id}}/failure_analysis"></a>
          </div>
        {% endfor %}
      </div>

      <! -- RIGHT -->
      <div class="col-8">
        <ul class="nav nav-tabs">
          <li class="nav-item">
              <a href="#model1" class="nav-link active colorblack" data-bs-toggle="tab"><h5>DETR</h5></a>
          </li>
          <li class="nav-item">
              <a href="#model2" class="nav-link colorblack" data-bs-toggle="tab"><h5></h5></a>
          </li>
        </ul>

        <div class="tab-content">
          <! -- MODEL 1  -->
          <div class="tab-pane active margin-top-small" id="model1">
            <h2 class="purple-color">Disaggregated Failure Metrics</h2>
            <div class="row">
              <div class="d-flex align-items-center">
                <p class="margin-right-small">Average failure severity:</p>
                <p class="{% if average_sev > 5 %}red_sev{% elif average_sev == 0 %}grey_sev{%else%}orange_sev{%endif%}">{{average_sev|floatformat:1}}</p>
              </div>
              <! -- ERRORS  -->
              <div class="col-4">

                <div class="d-flex margin-bottom-small">
                  <div class="ok-exp margin-right-small">
                    <p class="tag ok text-align-center">CD</p>
                    <span class="ok-exp-details"><strong>Correct Detection: </strong><br> The model correctly predicted this object.</span>
                  </div>

                  <div class="margin-right-small">
                  {% if len_matches > 0 %}
                    {% for m in matches_per_persona %}
                      <i class="fa-solid fa-square margin-top-zero {%if forloop.counter <= len_CD%}
                      green{%else%}grey{%endif%}"></i>
                    {% endfor %}
                  </div>
                    <div class="">
                      <p>{{len_CD| div:len_matches | mul:100 |floatformat:0 }}%</p>
                    </div>
                  {% else %}
                  </div>
                    <div class="">
                      <p>0%</p>
                    </div>
                  {% endif %}
                </div>

                <div class="d-flex margin-bottom-small">
                  <div class="error-exp margin-right-small"">
                    <p class="tag error text-align-center">FD</p>
                    <span class="error-exp-details"><strong>False Detection: </strong><br> The model predicted something else.</span>
                  </div>

                  <div class="margin-right-small">
                  {% if len_matches > 0 %}
                    {% for m in matches_per_persona %}
                      <i class="fa-solid fa-square margin-top-zero {%if forloop.counter <= len_FD%}
                      red{%else%}grey{%endif%}"></i>
                    {% endfor %}
                  </div>
                    <div class="">
                      <p>{{len_FD| div:len_matches | mul:100 |floatformat:0 }}%</p>
                    </div>
                    {% else %}
                  </div>
                      <div class="">
                        <p>0%</p>
                      </div>
                  {% endif %}
                </div>

                <div class="d-flex margin-bottom-small">
                  <div class="error-exp margin-right-small"">
                    <p class="tag error text-align-center">MD</p>
                    <span class="error-exp-details"><strong>Missing Detection:</strong><br> The model did not provide a prediction for an object the user expected.</span>
                  </div>

                  <div class="margin-right-small">
                  {% if len_matches > 0 %}
                    {% for m in matches_per_persona %}
                      <i class="fa-solid fa-square margin-top-zero {%if forloop.counter <= len_MD%}
                      red{%else%}grey{%endif%}"></i>
                    {% endfor %}
                  </div>
                    <div class="">
                      <p>{{len_MD| div:len_matches | mul:100 |floatformat:0 }}%</p>
                    </div>
                  {% else %}
                  </div>
                    <div class="">
                      <p>0%</p>
                    </div>
                  {% endif %}
                </div>

                <div class="d-flex margin-bottom-small">
                  <div class="error-exp margin-right-small">
                    <p class="tag error text-align-center">UD</p>
                    <span class="error-exp-details"><strong>Unnecessary Detection: </strong><br> The model made a prediction for that seems less important to the user.</span>
                  </div>

                  <div class="margin-right-small">
                  {% if len_matches > 0 %}
                    {% for m in matches_per_persona %}
                      <i class="fa-solid fa-square margin-top-zero {%if forloop.counter <= len_UD%}
                      red{%else%}grey{%endif%}"></i>
                    {% endfor %}
                  </div>
                    <div class="">
                      <p>{{len_UD| div:len_matches | mul:100 |floatformat:0 }}%</p>
                    </div>
                  {% else %}
                  </div>
                    <div class="">
                      <p>0%</p>
                    </div>
                  {% endif %}
                </div>
              </div>


              <! -- INFOS  -->
              <div class="col-4">
                <div class="d-flex margin-bottom-small">
                  <div class="info-exp margin-right-small">
                    <p class="tag info text-align-center">ID</p>
                    <span class="info-exp-details"><strong>In-distribution: </strong><br> Object lies within the capabilities of the model.</span>
                  </div>
                  <div class="margin-right-small">
                  {% if len_infos > 0 %}
                    {% for i in len_infos|times %}
                      <i class="fa-solid fa-square margin-top-zero {%if forloop.counter <= len_ID%}
                      blue{%else%}grey{%endif%}"></i>
                    {% endfor %}
                  </div>
                    <div class="">
                      <p>{{len_ID| div:len_infos | mul:100 |floatformat:0 }}%</p>
                    </div>
                  {% else %}
                  </div>
                    <div class="">
                      <p>0%</p>
                    </div>
                  {% endif %}
                </div>
                <div class="d-flex margin-bottom-small">
                  <div class="info-exp margin-right-small">
                    <p class="tag info text-align-center">OOD</p>
                    <span class="info-exp-details"><strong>Out-of-distribution: </strong><br> Object does not lie within the capabilities of the model.</span>
                  </div>
                  <div class="margin-right-small">
                  {% if len_infos > 0 %}
                    {% for i in len_infos|times %}
                      <i class="fa-solid fa-square margin-top-zero {%if forloop.counter <= len_OOD%}
                      blue{%else%}grey{%endif%}"></i>
                    {% endfor %}
                  </div>
                    <div class="">
                      <p>{{len_OOD| div:len_infos | mul:100 |floatformat:0 }}%</p>
                    </div>
                  {% else %}
                  </div>
                    <div class="">
                      <p>0%</p>
                    </div>
                  {% endif %}
                </div>
              </div>


              <! -- WARNINGS  -->
              <div class="col-4">
                <div class="d-flex margin-bottom-small">
                  <div class="warning-exp margin-right-small">
                    <p class="tag warning text-align-center">FTO</p>
                    <span class="warning-exp-details"><strong>Failing to observe: </strong><br> The model was not able to detect any object.</span>
                  </div>
                  <div class="margin-right-small">
                  {% if len_warnings > 0 %}
                    {% for w in len_warnings|times %}
                      <i class="fa-solid fa-square margin-top-zero {%if forloop.counter <= len_FTD%}
                      orange{%else%}grey{%endif%}"></i>
                    {% endfor %}
                  </div>
                    <div class="">
                      <p>{{len_FTD| div:len_warnings | mul:100 |floatformat:0 }}%</p>
                    </div>
                  {% else %}
                  </div>
                    <div class="">
                      <p>0%</p>
                    </div>
                  {% endif %}
              </div>

                <div class="d-flex margin-bottom-small">
                  <div class="warning-exp margin-right-small">
                    <p class="tag warning text-align-center">CQS</p>
                    <span class="warning-exp-details"><strong>Critical quality of score: </strong><br> The certainty for a prediction is below 95%.</span>
                  </div>
                  <div class="margin-right-small">
                  {% if len_warnings > 0 %}
                    {% for w in len_warnings|times %}
                      <i class="fa-solid fa-square margin-top-zero {%if forloop.counter <= len_CQS%}
                      orange{%else%}grey{%endif%}"></i>
                    {% endfor %}
                  </div>
                    <div class="">
                      <p>{{len_CQS| div:len_warnings | mul:100 |floatformat:0 }}%</p>
                    </div>
                  {% else %}
                  </div>
                    <div class="">
                      <p>0%</p>
                    </div>
                  {% endif %}
                </div>

                <div class="d-flex margin-bottom-small">
                  <div class="warning-exp margin-right-small">
                    <p class="tag warning text-align-center">CQB</p>
                    <span class="warning-exp-details"><strong>Critical quality of boxes:</strong> <br>The boxes of between user expectation and model prediction don't quite overlap.</span>
                  </div>
                  <div class="margin-right-small">
                  {% if len_warnings > 0 %}
                    {% for w in len_warnings|times %}
                      <i class="fa-solid fa-square margin-top-zero {%if forloop.counter <= len_CQB%}
                      orange{%else%}grey{%endif%}"></i>
                    {% endfor %}
                  </div>
                    <div class="">
                      <p>{{len_CQB| div:len_warnings | mul:100 |floatformat:0 }}%</p>
                    </div>
                  {% else %}
                  </div>
                    <div class="">
                      <p>0%</p>
                    </div>
                  {% endif %}
                </div>

              </div>
            </div>

            <p id="card" class="d-none">{{card}}</p>
            <h2 class="purple-color">Failure Synthesis & Recovery</h2>
            <div class="d-flex margin-bottom-small">
              <button id="group" class="btn secondary margin-right-small">Group</button>
              <button id="ungroup" class="btn secondary margin-right-small">Ungroup</button>
              <button id="delete_item" class="btn secondary margin-right-small"><i class="fa-solid fa-trash-can link-black"></i></button>
              <a id="download" class="btn secondary" download="myImage.jpg" href="" onclick="download_img(this);"><i class="fa-solid fa-download"></i></a>
            </div>
            <div class="d-flex margin-bottom-small">
              <button id="add_group_name" class="btn primary margin-right-small">Add group name</button>
              <button id="add_rec" class="btn primary_gold margin-right-small">Add failure recovery <div class="rec-exp">
                <i class="fa-solid fa-circle-info"></i>
                <span class="rec-exp-details"><strong>Common failure recoveries</strong><br>  1. Communicate quality of output <br> 2. Show N-best options <br> 3. Hand-over control to the user <br> 4. Leverage implicit feedback <br> 5. Request explicit feedback <br> 6. Let user make correction <br> 7. Provide local explanation <br> 8. Provide global explanantion </span>
              </div>
            </button>


            </div>

            <canvas id="c" width="1000" height="1000"></canvas>

            {% for m in matches_per_persona %}
              <img id="exp_{{m.id}}" class="d-none" src="{{m.sample.image.url}}" >
              <img id="pred_{{m.id}}" class="d-none" src="{{m.sample.image.url}}" >
            {% endfor %}

          </div>

          <! -- MODEL 2  -->
          <div class="tab-pane" id="model2">


          </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <! -- Container -->

</body>
</html>

<! -- internal scripts -->
<script src="{% static 'fdd_app/js/bbox.js' %}"></script>
<script src="{% static 'fdd_app/js/table.js' %}"></script>
<script src="{% static 'fdd_app/js/slider.js' %}"></script>
<script src="{% static 'fdd_app/js/explanation.js' %}"></script>
<script src="{% static 'fdd_app/js/hide.js' %}"></script>
<script src="{% static 'fdd_app/js/canvas.js' %}"></script>
