<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Samples</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'fdd_app/css/style.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://kit.fontawesome.com/d35950c7f9.js" crossorigin="anonymous"></script>
</head>

<body>

  <div class="container-fluid">
    <h1>&#128171 Model exploration</h1>
    <h2>Upload a picture</h2>
    <! -- form -->
        <form action="." method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Upload</button>
        </form>

    <! -- LEFT -->
    <div class="row justify-content-start">
      <div class="col-5">
         <! -- bbox -->
        <h2>What are you expecting the model to predict? Draw bounding boxes.</h2>

        <div id = "canvasWrapper">
         <canvas id="overlay" width={sample.image.width}}  height={{sample.image.height}}></canvas>
         <canvas id="canvas" width={{sample.image.width}}  height={{sample.image.height}}></canvas>
        </div>
        <! -- image -->
        <img src="{{sample.image.url}}" class="img">

        <! -- labels -->
        <form action="javascript:void(0);">
          <div id="label1">
            <i class="fa-solid fa-users-rectangle fa-beat green"></i>
            <label for="fname">Label the green object: </label>
            <input type="text" id="fname" name="fname"><br><br>
          </div>
          <div id="label2">
            <i class="fa-solid fa-users-rectangle blue"></i>
            <label for="fname">Label the blue object:</label>
            <input type="text" id="fname" name="fname"><br><br>
          </div>
          <div id="label3">
            <i class="fa-solid fa-users-rectangle red"></i>
            <label for="fname">Label the red object:</label>
            <input type="text" id="fname" name="fname"><br><br>
          </div>
          <div id="label4">
            <i class="fa-solid fa-users-rectangle yellow"></i>
            <label for="fname">Label the yellow object:</label>
            <input type="text" id="fname" name="fname"><br><br>
          </div>
          <div id="label5">
            <i class="fa-solid fa-users-rectangle purple"></i>
            <label for="fname">Label the purple object:</label>
            <input type="text" id="fname" name="fname"><br><br>
          </div>
         </form>
        <! -- boxes -->
        {% for object in model_prediction%}
          <p class="box white"> {{ object.box }}</p>
        {% endfor %}
      </div>

      <! -- MIDDLE -->
      <div class="col-2">
        <button class="btn btn-primary" onclick="javascript:showModelPrediction();">Show the prediction of the AI model</button>
      </div>

      <! -- RIGHT -->
      <div id="hidden" class="col-5">
        <h2>This is the model prediction. What do you think?</h2>
        <canvas id="pred_canvas"width={{sample.image.width}} height={{sample.image.height}} >
        Your browser does not support the HTML5 canvas tag.</canvas>

        <! -- image -->
        <img src="{{sample.image.url}}" class="img">

        {% for object in model_prediction%}
        <div>
          <p>{{ object.label }} with certainty {{ object.score | floatformat:3}}</p>
        </div>
        {% endfor %}
      </div>
  <! -- bbox -->
  <script src="{% static 'fdd_app/js/bbox.js' %}"></script>
  <! -- Bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
