<div class="d-flex justify-content-end margin-bottom-small">
  <div class="dropdown">
  <button class="btn primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    AI Models
  </button>
  <ul class="dropdown-menu">
      <div class="form-check">
        <input class="" type="checkbox" value="" id="" checked>
        <label class="" for="">
          DETR: Object detector
          <a class="btn secondary" href="/fdd_app/read_ai">View details</a>
        </label>
  </div>
  </ul>
</div>
</div>

