<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Input</title>
    {% load static %}
    {% load mathfilters %}
    {% load index %}
    {% load to_int %}
    <link rel="stylesheet" type="text/css" href="{% static 'fdd_app/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <! -- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">
    <! -- external scripts -->
    <script src="https://kit.fontawesome.com/d35950c7f9.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body class="font greybackground">

  {% block sidebar2 %}{% include 'fdd_app/sidebar2.html' %}{% endblock sidebar2 %}

  {% block navbar %}{% include 'fdd_app/navbar.html' %}{% endblock navbar %}

  <div class="container">
    {% block p_and_s %}{% include 'fdd_app/p_and_s.html' %}{% endblock p_and_s %}

      <div class="col-8 margin-top-large">
        <div class="row whitebackground padding20px margin-bottom-small">
            {% block query_form %}{% include 'fdd_app/query_form.html' %}{% endblock query_form %}
        </div>

        <div class="row whitebackground padding20px">
          <div class="col-6">
            <div class="row">
            {% block all_samples %}{% include 'fdd_app/all_samples.html' %}{% endblock all_samples %}
            </div>
          </div>
          <div class="col-6">
            <h2 class="purple-color">User Expectation</h2>
            {% if sample.labelled and not sample.assessed %}
              {% block read_expectation %}{% include 'fdd_app/read_expectation.html' %}{% endblock read_expectation %}
          </div>
        </div>
              <div class="row margin-top-large">
                <div class="col-12">
                  <h2 class="purple-color">Model Prediction</h2>
                  {% block model_prediction %}{% include 'fdd_app/model_prediction.html' %}{% endblock model_prediction %}
                </div>
              </div>
              <div class="row margin-top-large">
                <h2 class="purple-color">Failure Engine</h2>
                {% block failure_engine %}{% include 'fdd_app/failure_engine.html' %}{% endblock failure_engine %}
              </div>
            {% elif not sample.labelled %}
              {% block write_expectation %}{% include 'fdd_app/write_expectation.html' %}{% endblock write_expectation %}
            {% else %}
              {% block read_expectation2 %}{% include 'fdd_app/read_expectation.html' %}{% endblock read_expectation2 %}
            {% endif %}
          </div>

  </div> <! -- CONTAINER-->
</body>

<! -- internal scripts -->
<script src="{% static 'fdd_app/js/bbox.js' %}"></script>
<script src="{% static 'fdd_app/js/table.js' %}"></script>
<script src="{% static 'fdd_app/js/slider.js' %}"></script>
<script src="{% static 'fdd_app/js/explanation.js' %}"></script>
<script src="{% static 'fdd_app/js/hide.js' %}"></script>
</html>




