<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Input</title>
    {% load static %}
    {% load mathfilters %}
    {% load index %}
    {% load to_int %}
    <link rel="stylesheet" type="text/css" href="{% static 'fdd_app/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <! -- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">
    <! -- external scripts -->
    <script src="https://kit.fontawesome.com/d35950c7f9.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body class="font">
  <! -- NAVBAR -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img class="logo" src="../../../media/logo/xploreai.png" alt="XploreAI">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link light" aria-current="page" href="/fdd_app/create_persona">🤔 User Scenario</a>
           <a class="nav-link active light margin-right" aria-current="page" href="/fdd_app/samples">💫 Failure Exploration</a>
            <a class="nav-link light" aria-current="page" href="/fdd_app/failure_book">📚 AI Failure Book</a>
        </div>
      </div>
      <div class="margin-right">
        <h4 class="white">&#128065 AI Model</h4>
        <a href="/fdd_app/read_ai">View details</a>
        <div class="dropdown whitebackground border-radius">
        <select class="form-select border-radius" aria-label="Default select example">
        {% for ai in ais %}
          <option class="border-radius" value="persona{{forloop.counter}}">{{ai.name}}</option>
        {% endfor %}
        </select>
        </div>
      </div>

    </div>
  </nav>
  <! -- END NAVBAR -->

  <div class="container">

   <h1 class="border-bottom margin-top-large">🤔 User Scenario: Imagine the inputs </h1>

    <! -- ROW-->
    <div class="row justify-content-start">
      <div class="row">
        <div class="col-6">
          <h2 class="purple-color margin-top-large">User</h2>
          <img src="{{ persona.image.url }}" alt="" class="border-radius img-fluid maxwidth100prozent">
          <p>{{persona.name}}</p>
          <p>{{persona.personality}}</p>
          <p>{{persona.objectives_and_goals}}</p>

        </div>
        <div class="col-6">
          <h2 class="purple-color margin-top-large">Scenario</h2>
          <h3 class="font-size-15">Some text </h3>
          {{scenario.name}} <br>
          {{scenario.description}}
        </div>
      </div>

    </div>
    <! -- END ROW-->

    <! -- ROW-->
    <div class="row justify-content-start">
      <! -- IMAGE UPLOAD -->
      <div class="col-6">
        <h2 class="purple-color margin-top-large">Image upload</h2>
        <h3 class="font-size-15">Existing hypothesis? </h3>

        <form method = "post" enctype="multipart/form-data" class="form-control form-label border-radius">
          {% csrf_token %}
          <input type="hidden" name="form_id" value="input">
          <label> Image from user research </label>
          {{ image_form.as_p }}
          <button type="submit" class="btn primary">Upload image</button>
        </form>
      </div>

      <div class="col-6">
        <h2 class="purple-color margin-top-large">Image generation on the fly</h2>
        <h3 class="font-size-15"> New hypothesis?</h3>
        <form method="post" enctype="multipart/form-data" class="form-control form-label border-radius">
          {% csrf_token %}
          <input type="hidden" name="form_id" value="scenario">
          <label> What kind of image are you looking for?</label>
          {{ query_form.as_p }}
          <button type="submit" class="btn primary">Generate image</button>
        </form>
      </div>

    </div>
    <! -- END ROW-->

    <! -- ROW-->
    <div class="row justify-content-start">
      <! -- Personas & scenarios-->
      <div class="col-4">
        <h2 class="purple-color margin-top-large">User Scenarios</h2>

        <h3 class="font-size-15"> All of your user scenarios. </h3>
        <a href="/fdd_app/create_persona">Create new user scenario</a>


        <br>
        <br>
        {% for item in p_and_s %}
          <p class="{% if item.persona.id == persona.id %}active_persona{%endif%}">User: {{item.persona.name}}</p>
          <a href="/fdd_app/persona={{item.persona.id}}/read_persona">View in detail</a> <br>

          {% for s in item.scenarios %}
            <a class="{% if s.id == scenario.id %}active_scenario{%endif%}" href="/fdd_app/persona={{item.persona.id}}/scenario={{s.id}}/samples">
              {{s.name}} <br>
              <a href="/fdd_app/persona={{item.persona.id}}/scenario={{scenario.id}}/read_scenario"> View in detail</a><br>
              <br>
              <br>
            </a>

          {% endfor %}
          <a href="/fdd_app/persona={{item.persona.id}}/create_scenario">Create new scenario for this user</a>
          <br>
          <br>
          <br>
        {% endfor %}

      </div>
      <! -- Data probes-->
      <div class="col-8">
        <h2 class="purple-color margin-top-large">Data probes</h2>
        <h3 class="font-size-15">Your data library. A simple click on one of the images let's you start the failure exploration.</h3>
        <div class="row">
        {% for sample in samples %}
        <div class="col-2">
          <a href="/fdd_app/sample={{sample.id}}" class="no-text-dec">
            <img id="{{sample.id}}" class="border-radius img-fluid library-img margin-bottom-small" src="{{sample.image.url}}" draggable="true">
          </a>
        </div>
        {% endfor %}
        </div>
      </div>

    </div>
    <! -- END ROW-->

  </div> <! -- CONTAINER-->
</body>

<! -- internal scripts -->
<script src="{% static 'fdd_app/js/bbox.js' %}"></script>
<script src="{% static 'fdd_app/js/table.js' %}"></script>
<script src="{% static 'fdd_app/js/slider.js' %}"></script>
<script src="{% static 'fdd_app/js/explanation.js' %}"></script>
<script src="{% static 'fdd_app/js/hide.js' %}"></script>
</html>




